anyio==3.6.1
arrow==1.2.2
asteval==0.9.27
attrs==21.4.0
binaryornot==0.4.4
cachetools==5.2.0
certifi==2022.6.15
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
cookiecutter==2.1.1
cycler==0.11.0
descartes==1.1.0
dill==0.3.5.1
Fiona==1.8.21
fonttools==4.34.4
geopandas==0.11.0
glcontext==2.3.6
idna==3.3
Jinja2==3.1.2
jinja2-time==0.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.5.2
moderngl==5.6.4
multiprocess==0.70.13
munch==2.5.0
networkx==2.8.5
numpy==1.23.1
osmnx==1.2.1
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
pnoise==0.2.0
prettymaps @ git+https://github.com/marceloprates/prettymaps.git@72fd33ce5f075020ea272e80df906c64c53d4d93
pyparsing==3.0.9
pyproj==3.3.1
PySide2==5.15.2.1
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.1
PyYAML==6.0
qasync==0.23.0
requests==2.28.1
Rtree==1.0.0
scipy==1.8.1
Shapely==1.8.2
shiboken2==5.15.2.1
six==1.16.0
sniffio==1.2.0
svgelements==1.7.1
svgwrite==1.4.3
tabulate==0.8.9
text-unidecode==1.3
tomli==2.0.1
urllib3==1.26.10
vpype @ git+https://github.com/abey79/vpype@6a099b7b4f3d756f7fa8052049be365d0314c5ee
vsketch @ git+https://github.com/abey79/vsketch@1e9ebc540a3ef873d39e04e728a8e96a3faedb80
watchfiles==0.16.0
